
* {
    font-size: 1.2rem;
    font-family: 'Quantico', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: rgb(58, 58, 58); */
    /* background-image: url(img/unsplashBackground.jpg);
    background-repeat: round; */
    background-image: url(img/noiseBackground.png);
}

main {
    margin: 0 2%;
    /* background-color: rgb(120, 120, 120); */
    height: 200vh;  /* This could be a real issue later so make sure you make note of it */
}


/* Navigation Bar */

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
    z-index: 2;
    background-color: black;
    color: white;
}

.logo img {
    height: 10vh;
    width: 10vh;
}

.burgerMenu {
    width: 5vh;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1%;
    margin: 0%;
}

.burgerMenu:hover {
    cursor: pointer;
}

.burgerMenu div {
    width: 100%;
    margin: 0%;

}


/* Landing */

.landImg {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(img/bestLushCity.jpg);
    background-size: cover;
}

.landText {
    width: 45%;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
    text-align: left;
}

.landText h1 {
    font-size: 8vw; 
    color: white;
}


/* Experiences */

#experiences {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* justify-content: space-around; */
}

.expBox {
    padding: 1%;
    color: white;
    width: 20%;
    position: relative;
    transition: background-color .1s;
    transition: transform .5s;
    margin: 1%;
}

.expBox img {
    width: 100%;
    border: 5px double rgb(255, 255, 255);
    /* border-radius: 5%; */
}

.expBox h3 {
    background-color: rgb(255, 255, 255);
    color: black;
    position: absolute;
    bottom: 11%;
    width: min-content;
    max-width: 80%;
    padding: 1% 5%;
    text-align: left;
    font-size: 1.5vw;
}

.expBox:hover {
    transform: scale(1.05);
    cursor: pointer;
}
