
* {
    font-size: 1.2rem;
    font-family: 'Quantico', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(58, 58, 58);
}

main {
    margin: 0 5%;
    font-family: 'Quantico', sans-serif;
}


/* Navigation Bar */

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
    z-index: 2;
    background-color: black;
    color: white;
}

.logo img {
    height: 10vh;
    width: 10vh;
}

.burgerMenu {
    width: 5vh;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1%;
    margin: 0%;
}

.burgerMenu:hover {
    cursor: pointer;
}

.burgerMenu div {
    width: 100%;
    margin: 0%;

}


/* Landing */

.landImg {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(img/bestLushCity.jpg);
    background-size: cover;
}

.landText {
    width: 45%;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
    text-align: left;
}

.landText h1 {
    font-size: 8vw; 
    color: white;
}


/* Experiences */

.expFlex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.expBox {
    background-color: black;
    padding: 1%;
    color: white;
}

.expBox img {
    width: 30vw;
    /* height: 50%; */
}
